.App {
  text-align: center;
  background-color: #abaeb3;
}

.App-header {
  background-color: #47bdd4;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}